.ranking-table {
  width: 100%;

  @include element("header") {
    align-items: center;
    background-color: $blue-100;
    border-radius: 0 0 $border-radius-md $border-radius-md;
    display: flex;
    flex-direction: column;
    gap: $spacer-lg;
    justify-content: center;
    padding-top: $spacer-lg;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      background-image: url("../../assets/page-header.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 0 $border-radius-lg $border-radius-lg;
      gap: $spacer * 3;
      padding: $spacer * 4 $spacer * 3;
    }

    @include media-breakpoint-up(lg) {
      background-size: 100% 100%;
    }
  }

  @include element("logo") {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  @include element("title") {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0;
  }

  @include element("search") {
    background-color: $blue-300;
    border-radius: 0 0 $border-radius-md $border-radius-md;
    flex-shrink: 0;
    padding: $spacer;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      padding: 0;
    }

    &--active {
      .ranking-table__search-icon {
        display: none;
      }

      .ranking-table__search-clear-button {
        display: flex;
      }
    }

    &-input {
      border: 0;
      width: 100%;
      background-color: white;
      outline: $border-width solid $border-color;
      border-radius: $border-radius-md;
      color: $placeholder-color;
      font-size: 1rem;
      line-height: 1.5em;
      padding: $spacer $spacer $spacer $spacer-lg;
      width: 100%;

      @include media-breakpoint-up(md) {
        border-radius: 8px;
      }

      &::placeholder {
        color: $placeholder-color;
      }

      &:focus {
        outline-color: $blue-500;
      }
    }

    &-icon,
    &-clear-button {
      fill: $gray-300;
      height: $icon-size;
      width: $icon-size;
      position: absolute;
      right: $spacer-lg;
      top: 50%;
      transform: translateY(-50%);
    }

    &-clear-button {
      background: none;
      border: none;
      cursor: pointer;
      display: none;
      justify-content: center;
      align-items: center;

      &:focus {
        outline: none;
      }
    }
  }

  @include element("list") {
    display: flex;
    flex-direction: column;
    gap: $spacer-lg;
    list-style: none;
  }

  @include element("message") {
    color: $gray-500;
    font-size: $font-size-base;
    text-align: center;
    box-shadow: $box-shadow-elevation;
    border-radius: $border-radius-lg;
    margin: 0;
    padding: $spacer * 3;
    &::before {
      content: "";
      background-image: url("../../assets/icons/error.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      margin: 0 auto $spacer-lg;
      width: $icon-size-lg;
      height: $icon-size-lg;
    }
    &--not-found {
      &::before {
        background-image: url("../../assets/icons/ball.svg");
      }
    }
  }
}
